<p>iemcrud works!</p>
<div class="container">
    <form name="myForm" #frm="ngForm" (ngSubmit)="frm.valid&& onSubmitData(frm)">
        <div class="form-group">
            <input type="hidden" name="id" #id="ngModel" ngModel [(ngModel)]="idd">
        </div>
        <label for="username">UserName:</label><span style="color: red;">*</span>
        <input type="text" name="uname" class="form-control" #uname="ngModel" ngModel [(ngModel)]="un"
        required [ngClass]="{'is-invalid':frm.submitted && uname.invalid}">
        <div *ngIf="frm.submitted && uname.invalid" class="invalid-feedback">
            this field is required
        </div>
        <label for="email">Email:</label><span style="color: red;">*</span>
        <input type="email" name="eml" class="form-control" #eml="ngModel" ngModel [(ngModel)]="el"
        required [ngClass]="{'is-invalid':frm.submitted && eml.invalid}"
        pattern="^[\w]{1,}[\w.+-]{0,}@[\w-]{2,}([.][a-zA-Z]{2,}|[.][\w-]{2,}[.][a-zA-Z]{2,})$">
        <div *ngIf="eml.touched" class="invalid-feedback">
            <div *ngIf="eml.errors ?.['required']">This field is required</div>
            <div *ngIf="eml.errors?.['pattern']">Please enter your email</div>
        </div>
        
        <label for="password">Password:</label>
        <input type="text" name="pass" class="form-control" #pass="ngModel" ngModel [(ngModel)]="ps">

        <button class="btn btn-info">Submit</button>
        <button class="btn btn-danger" (click)="onUpdateBtn(frm)">Updata</button>
 

    </form>
</div>
<div>
    <table class="table table-primary">
        <tr *ngIf="allData ?.length>0">
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        <tr *ngFor="let data of allData">
            <td>{{data.uname}}</td>
            <td>{{data.eml}}</td>
            <td>{{data.pass}}</td>
        
        <td>
            <button class="btn btn-success" (click)="onDelData(data)">Delete</button>
        </td>
        <td>
            <button class="btn btn-danger" (click)="onUpdateData(data)">Updata</button>
        </td>
        </tr> 
    </table>

</div>
